*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(18, 32, 44);
    color: #fff;
    
}
body h2{
    text-transform: capitalize;
}
.box{
    margin: 15px;
    padding: 10px;
    border:1px solid white;
    border-radius: 8px;
    font-size: 20px;
}
.box ol{
    margin: 15px;
    padding: 10px; 
}
.content{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid #fff; */
    display: flex;
}
.p{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid red;
    margin: 5px;
}